In [3]:
import pandas as pd

In [35]:
# Initialize an empty list to store DataFrames
dfs = []

# List of years for which you have data
years = [1996, 1998, 2000, 2002, 2004, 2006, 2008, 2010, 2012, 2014, 2016, 2018, 2020, 2024]

In [36]:
# Loop through each year
for year in years:
    # Create file path for the current year
    file_path = f"{year}.csv"
    
    # Read the CSV file for the current year
    df = pd.read_csv(file_path)
    
    # Add a column for the year
    df["Year"] = year
    
    # Append the DataFrame to the list
    dfs.append(df)

In [37]:
# Concatenate all DataFrames into one
all_data = pd.concat(dfs, ignore_index=True)

# Print the first few rows of the combined DataFrame
print(all_data.head())

   NOC  Gold  Silver  Bronze  Total  Year
0  USA    44      32      25    101  1996
1  RUS    26      21      16     63  1996
2  GER    20      18      27     65  1996
3  CHN    16      22      12     50  1996
4  FRA    15       7      15     37  1996

In [38]:
#convert to csv

all_data.to_csv("olympics.csv", index=False)

In [4]:
#Read the csv file

oly_df = pd.read_csv("olympics.csv")
print(oly_df.head())

   NOC  Gold  Silver  Bronze  Total  Year
0  USA    44      32      25    101  1996
1  RUS    26      21      16     63  1996
2  GER    20      18      27     65  1996
3  CHN    16      22      12     50  1996
4  FRA    15       7      15     37  1996

In [5]:
#Convert headings to numeric data type

oly_df["Gold"] = pd.to_numeric(oly_df["Gold"], errors = "coerce")
oly_df["Bronze"] = pd.to_numeric(oly_df["Bronze"], errors = "coerce")
oly_df["Silver"] = pd.to_numeric(oly_df["Silver"], errors = "coerce")
oly_df["Total"] = pd.to_numeric(oly_df["Total"], errors = "coerce")
oly_df["Year"] = pd.to_numeric(oly_df["Year"], errors = "coerce")

In [25]:
#Total medals per year by country
total_med_per_year_by_cou = oly_df.groupby(["Year", "NOC"])[["Gold", "Silver", "Bronze"]].sum()
total_med_per_year_by_cou["Total"] = total_med_per_year_by_cou.sum(axis=1)
total_med_per_year_by_cou = total_med_per_year_by_cou.reset_index()
total_med_per_year_by_cou.to_csv("total medals per year by country.csv", index=False)

In [23]:
#Top medals from 1994 to 2024 by country in ascending order
total_medals_by_country = oly_df.groupby(['NOC'])[["Gold", 'Bronze', 'Silver']].sum()
total_medals_by_country['Total Medals'] = total_medals_by_country.sum(axis=1)
total_medals_by_country = total_medals_by_country.reset_index()
total_medals_by_country.to_csv("total medals from 1994-2024 by country asc.csv", index=False)

In [26]:
#top gold per year by country
total_gold_per_year = oly_df.groupby(["Year", "NOC"])[["Gold"]].sum()
total_gold_per_year["Total"] = total_gold_per_year.sum(axis=1)
total_gold_per_year = total_gold_per_year.reset_index()
total_gold_per_year.to_csv("total gold per year by country.csv", index=False)

In [29]:
#top silver per year by country
total_silver_per_year = oly_df.groupby(["Year", "NOC"])[["Silver"]].sum()
total_silver_per_year["Total"] = total_silver_per_year.sum(axis=1)
total_silver_per_year = total_silver_per_year.reset_index()
total_silver_per_year.to_csv("total silver per year by country.csv", index=False)

In [30]:
#top silver per year by country
total_bronze_per_year = oly_df.groupby(["Year", "NOC"])[["Bronze"]].sum()
total_bronze_per_year["Total"] = total_bronze_per_year.sum(axis=1)
total_bronze_per_year = total_bronze_per_year.reset_index()
total_bronze_per_year.to_csv("total bronze per year by country.csv", index=False)